@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 98%);
  /*  */
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
}

.container {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(38, 38, 63);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Red Hat Display", sans-serif;
}

.illustration-hero {
  width: 100%;
}

.payment-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  text-align: left;
  background-color: hsl(225, 100%, 98%);
  padding: 10px;
  border-radius: 10px;
}

.payment-details div:first-child {
  display: flex;
}

.payment-details div:first-child div {
  margin-left: 10px;
}

.payment-details a {
  color: hsl(245, 75%, 52%);
  font-size: 14px;
  font-weight: 700;
}

.payment-details a:hover {
  cursor: pointer;
  text-decoration: none;
  color: hsl(245, 66%, 61%);
}

button:hover {
  cursor: pointer;
}

.content {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-group > * {
  display: block;
  padding: 5px;
  margin-top: 10px;
  background-color: inherit;
  border: none;
  font-family: "Red Hat Display", sans-serif;
}
.button-group button:first-child {
  background-color: hsl(245, 75%, 52%);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 700;
}
.button-group button:first-child:hover {
  background-color: hsl(245, 66%, 61%);
}

.button-group button:nth-child(2) {
  font-weight: 800;
}
.button-group button:nth-child(2):hover {
  color: lightslategrey;
}

.order > * {
  margin-bottom: 15px;
}

.order p {
  line-height: 1.5rem;
  font-size: 15px;
}
.payment-details h2 {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    background-size: cover;
    /* background-position: fixed; */
  }
}
h1 {
  font-size: 25px;
  font-weight: 900;
}

h2 + p {
  font-size: 14px;
}
